.img1
{
    width: 180%    
}

.img2
{
    width: 180%;
}

.img3
{
    width: 180%;
}

.img4
{
    width: 180%;
}




/*#botones
    {

        margin-bottom: -85px;
        font-size: 17px;
        margin-left: -125px;
        border-bottom: solid;
        border-color: #0275d8;
        padding-top: 1px;
        padding-left: 15px;
        border-width: 1.5px;
     
    }
    
   
    .navbar-brand
    {
        position: relative;
        left: 550px;
        margin-bottom: 45px;
        margin-top: -6px;
        font-size: 50px;

    }
    
    #iconos
    {
        margin-top: 96px
  
    }
    
    #pro:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
    -webkit-transition: all .4s ease;
    }
    
    #seleccion:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
    -webkit-transition: all .4s ease;
    }
    
    #movil:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }
    
    #ciencia:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }
    
    #entre:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }
    
     #analisis:hover
    {
        color: #000000 !important; 
        background-color: #0275d8;
         transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }

    
    */